section{
    padding: 8% 15%;
}

#heading{
  padding: 10% 15% 0;
  overflow: hidden;
}

.navbar{
  width: 100%;
  padding: 0 0 8rem 0;
}

.navbar-nav, .navbar-toggler{
  position: absolute;
  right: 5%;
}

.nav-item{
  margin: 0 20px;
}

.colored{
  background-color: #3b6978;
  color: #e7dfd5;
  font-family: 'Montserrat', sans-serif;
}

.white{
  background-color: #fff;
  color: #84a9ac;
  font-family: 'Montserrat', sans-serif;
}

.col-lg-6{
  padding: 0;
}

h1{
  font-weight: 900;
  font-size: 7rem;
}

h2{
  font-size: 2rem;
  width: 70%;
}

.download-btn{
  margin: 1rem 0 11rem;
  color: #e7dfd5;
}

.dwnld{
  margin: 0 8px 0 0;
}

.cloudOne{
  position: absolute;
  width: 10%;
  left: 35%;
}

.cloudTwo{
  position: absolute;
  width: 10%;
  right: 8%;
  top: 50%;
}

.earth{
  width: 50rem;
  position: relative;
  top: 12rem;
  right: 10rem;
}

/*  About Me  */

.self-portrait{
  width: 15rem;
  -moz-box-shadow: 0px 8px 7px #ccc;
  -webkit-box-shadow: 0px 8px 7px #ccc;
  box-shadow: 0px 8px 7px #ccc;
}

h3{
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
  padding: 0 0 10% 0;
}

.about-text{
  font-size: 1.25rem;
}

.about-text-col{
  padding: 0 0 0 8%;
}

.experience{
  padding: 5% 5%;
}

#academic{
  padding: 8% 10%;
}

.square{
  position: static;
  margin: auto;
  transform: rotate(45deg);
  border-radius: 10%;
  color: #e7dfd5;
  width: 80%;
  position: relative;
  left: 10%;
}

.acad-p {
  margin: 0;
}

.experience-title{
  width: 60%;
  position: relative;
  bottom: 52%;
  left: 20%;
  text-align: center;
  color: #204051;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  height: 3rem;
}

.experience-descr{
  width: 60%;
  position: relative;
  bottom: 49%;
  left: 20%;
  text-align: center;
  color: #204051;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .9rem;
}

/* Skills */

.skill-col{
  text-align: center;
}

.skill-img-div{
  height: 16rem;
}

.skills-img{
  width: 70%;
  padding: 3%;
  position: absolute;
  top: 15%;
  left: 15%;
}

.DS-skill-img{
  top: 25%;
}

.skill{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: #204051;
}

.skill-level{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  color: #204051;
  position: absolute;
  width: 50%;
  left: 25%;
  height: 2.25rem;
}

@media (max-width: 1258px){
  .about-text-col{
    padding: 0 0 0 15%;
  }
}

@media (max-width: 991px){

  .left-col{
    text-align: center;
  }

  h1, h2{
    padding: 0 0 2.5rem;
    margin: auto;
  }

  .download-btn{
    margin: 0 0 10rem;
  }

  .earth{
    width: 100%;
    position: static;
    margin: auto;
  }

  .cloudOne{
    visibility: hidden;
  }

  .cloudTwo{
    visibility: hidden;
  }

  .self-portrait{
    width: 40%;
    margin: 0 auto 5rem;
  }

  .photo-col{
    text-align: center;
  }

  .about-text-col{
    padding: 0;
    text-align: center;
  }

}
